<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login</title>
        <link rel="icon" href="resources/images/icon.gif" th:href="@{/resources/images/icon.gif}"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content="João Paulo Siqueira"/>
    </head>
    <body>
        <div id="container">
            <div class="container-fluid">
                <div>
                    <a href="#" th:href="@{/home}">Home</a>
                </div> 
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <h1>Página de Login</h1>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer"> </footer>
        </div>
    </body>
</html>