<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>NavBar</title>
        <link rel="icon" href="resources/images/icon.gif" th:href="@{/resources/images/icon.gif}"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content="João Paulo Siqueira"/>
    </head>
    <body>
        <footer class="footer" th:fragment="footer">
            <div class="container">
                <p class="text-muted">&copy; 2016 Joaops Company, Inc.</p>
            </div>
            <link rel="stylesheet" href="resources/styles/bootstrap.min.css" th:href="@{/resources/styles/bootstrap.min.css}" />
            <link rel="stylesheet" href="resources/styles/bootstrap-theme.min.css" th:href="@{/resources/styles/bootstrap-theme.min.css}" />
            <link rel="stylesheet" href="resources/styles/starter-template.css" th:href="@{/resources/styles/starter-template.css}" />
            <script src="resources/scripts/jquery.min.js" th:src="@{/resources/scripts/jquery.min.js}"></script>
            <script src="resources/scripts/npm.js" th:src="@{/resources/scripts/npm.js}"></script>
            <script src="resources/scripts/bootstrap.min.js" th:src="@{/resources/scripts/bootstrap.min.js}"></script>
            <script src="resources/scripts/navbar.js" th:src="@{/resources/scripts/navbar.js}"></script>
        </footer>
    </body>
</html>