<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>NavBar</title>
        <link rel="icon" href="resources/images/icon.gif" th:href="@{/resources/images/icon.gif}"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content="João Paulo Siqueira"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}" th:text="'Nome do Projeto'" />
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/home}" th:text="Home" /></li>
                        <li><a href="#" th:href="@{/system/user}" th:text="User" /></li>
                        <li><a href="#" th:href="@{/modelo}" th:text="Modelo" /></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" th:href="@{/logout}" th:text="Logout" /></li>
                    </ul>
                </div>
            </div>
        </nav>
        <footer th:replace="fragments/footer :: footer"> </footer>
    </body>
</html>